@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an asp mvc application based on PayPal payment system.The app is deployed at Appharbor.</p>
<p>In order to use appropriately the appp follow the following steps: </p>
<p>First register</p>
<p>Second choose your item and put in the cart</p>
<p>Third go to your cart and checkout</p>
<p>Fourth log in </p>
<p>You will be asked PayPal Account name and Password. </p>
<p>Account name:mvchiltoys@live.com </p>
<p>Password:nurx801849 </p>
