@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One MVC Way-With PayPal on Appharbor<br />
    Ahmed Reshid, Addis Ababa Ethiopia<br/>
    <abbr title="Phone">Phone No:</abbr>
  251921571660
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:amdmukim@yahoo.com">amdmukim@yahoo.com</a><br/>
    <strong>Info:</strong> <a href="mailto:bilal2008hil@gmail.com">bilal2008hil@gmail.com</a>
</address>

