@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One MVC Way-With PayPal<br />
    Ahmed Reshid, Addis Ababa Ethiopia<br />
    <abbr title="Phone">P:</abbr>
  251921571660
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:amdmukim@yahoo.com">amdmukim@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bilal2008hil@gmail.com">bilal2008hil@gmail.com</a>
</address>

<h3>@ViewBag.TheMessage</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>