@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6 margin-top-20">
        <p>
            <em>Asp MVC 4</em>
        </p>
        <p>
            <em>Knockout</em>
        </p>
        <p>
            <em>Entity Frame Work 6</em>
        </p>
    </div>
    <div class="col-md-6 margin-top-20">
        <p>
            <em>PayPal</em>
        </p>
        <p>
            <em>AppHarbor</em>
        </p>
    </div>
</div>