<!-- Shell -->
@*<div id="rightlogin">


                        <div class="entrylogin">
                            <div>Please Register</div>
                        </div>
    </div>*@

@section scripts{
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript">
        $("#loginmessage").html("please log in");
    </script>
}

